html, body, th, td, dl, dt, dd, ul, ol, li, form, textarea, input, select {
    margin: 0;
    padding: 0;
    font: 12px Arial, Helvetica, sans-serif;
}

img, body, html {
    border: 0;
}

img, input, select, button {
    vertical-align: middle;
}

a {
    color: #336;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

dl, ul, li {
    list-style: none;
}

input {
    padding: 1px;
}

fieldset {
    border: 1px solid #999;
}

th, td {
    vertical-align: top;
}

body {
    background: #fff;
}

.clearFix {
    overflow: hidden;
    zoom: 1;
}

#container {
    background: #fff;
    margin: 0 auto;
    width: 980px;
    font: 12px Arial, Helvetica, sans-serif;
}

/***************header *******************/

#header {
    position: relative;
 
    height: 145px;
    z-index: 500;
}

#logo {
    display: block;
    float: left;
    font-size: 0;
    text-indent: -9999em;
}

#logo, #logo img {
    height: 111px;
    width: 980px;
}

#loginDiv {
    position: absolute;
    top: 5px;
    right: 10px;
}

#loginFail {
    font-size: 12px;
}

#searchArea {
    position: absolute;
    right: 10px;
    bottom: 0px;
    z-index: 1;
    display: none;
}

#searchArea input {
    margin: 0 5px 0 0;
    width: 118px;
}

#searchArea input.search-btn {
    border: none;
    background: url(css/timg.jpg) no-repeat 2px 0 !important;
    cursor: pointer;
    width: 64px;
    height: 34px;
    margin: 0px;
}

.personal {
    color: #fff;
    position: absolute;
    right: 210px;
    bottom: 8px;
}

.personal a {
    padding: 0px 2px;
    color: #fff;
}

/************content***********/
#content {
    background-color: #FFFFFF;
    min-height: 450px;
    _height: 450px;
    padding: 3px 0;
}

/*#content table{
	width: 100%;
}*/
.table {
    width: 100%;
}

#content-left {
}

#content-right {
    width: 100%;
}

.pathContainer {
    color: #066296;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    border: 1px solid #DDD;
    height: 21px;
    padding-top: 8px;
    text-indent: 15px;
    margin: 0px 14px;
}

.ipt {
    border: 1px solid #B9D1F0;
    margin: 0 5px;
    font-size: 12px;
}

.btn {
    font-size: 12px;
    height: 18px;
    padding: 0 2px;
}

#loginFail {
    color: red;
    padding-right: 5px;
}

#rssEditor {
    background: url(css/timg.jpg) no-repeat 0 0;
    display: block;
    padding-left: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
}

.clippingBtn {
    background: url(css/timg.jpg) no-repeat 0 0;
    padding-bottom: 1px;
    float: left;
    margin-right: 3px;
}

#tbody {
    background-color: #fff;
    min-height: 550px;
}

#recommendPortlets {
    background: #ffc;
    border-bottom: 1px solid #cc9;
    padding: 3px 10px 3px 10px;
    margin-bottom: 3px;
}

#recommendPortlets .rpTitle {
    font-weight: bold;
    text-align: left;
}

#recommendPortlets li {
    float: left;
    text-align: left;
    margin: 5px;
    border: none;
}

#recommendPortlets div {
    text-align: center;
    margin: 5px;
}

#recommendPortlets img {
    display: block;
    border: 1px solid #666;
}

#mainContent {
    width: 100%;
}

#mainContentFrame {

}

#porletsLayout {
    width: 100%;
}

#porletsLayout td {
    vertical-align: top;
}

.placeholder {
    font-size: 0;
    height: 0;
}

.portlets {
    padding: 3px;
}

.portlet {
    margin: 5px 2px;
}

.portletFrame {
    border-color:#98C0F4;
}

.portletHeader {
    background: url(../images/tl-blue.jpg) no-repeat left top;
}

.portletHeaderFrame {
     background:url(../images/tl-blue.jpg) no-repeat right top;
    padding: 10px 14px 10px 10px;
}

.portletContent {
    padding: 0 5px 0px 5px;
    overflow: hidden;
}

.portletHeaderFrame .title {
    cursor: text;
    float: left;
    font-weight: bold;
    color: #305098;
    font-size: 13px;
}

.portletHeaderFrame .toolButton {
    float: right;
}

.toolButton a {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.toolButton .more {
    background: url(img/timg.jpg) no-repeat -38px -158px;
}

.toolButton .more:hover {
    background-position: 2px -158px;
}

.toolButton .minimize {
    background: url(img/timg.jpg) no-repeat -35px -70px;
}

.toolButton .minimize:hover {
    background-position: 5px -70px;
}

.toolButton .maximize {
    background: url(img/tools.gif) no-repeat -36px -37px;
}

.toolButton .maximize:hover {
    background-position: 4px -37px;
}

.toolButton .restore {
    background: url(img/tools.gif) no-repeat -36px -117px;
}

.toolButton .restore:hover {
    background-position: 4px -117px;
}

.toolButton .close {
    background: url(img/tools.gif) no-repeat -37px 3px;
}

.toolButton .close:hover {
    background-position: 3px 3px;
}

.toolButton .borderHide {
    background: url(img/tools.gif) no-repeat -37px -211px;
}

.toolButton .borderHide:hover {
    background-position: 3px -211px;
}

.toolButton .editName {
    background: url(img/tools.gif) no-repeat -37px -193px;
}

.toolButton .editName:hover {
    background-position: 3px -193px;
}

.toolButton .borderShow {
    background: url(img/tools.gif) no-repeat -37px -176px;
}

.toolButton .borderShow:hover {
    background-position: 3px -176px;
}

#footer {
    text-align: center;
    color: #CFCFCF;
    background: url(img/footer-bg.gif) repeat-x right top;
    font-size: 12px;
    clear: both;
    height: 69px;
    margin-top: 5px;
}

#footerMsg {
    padding-top: 10px;
    color: #666666;
    font-size: 12px;
}

#portletMenu, #selectStyleMenu, #addContentMenu, #sideMenuToolMenu, #addRssEntityMenu, #addClippingEntityMenu, #userSettingMenu {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid #bbb;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff;
    z-index: 9999;
}

#portletMenu a, #selectStyleMenu a, #addContentMenu a, #sideMenuToolMenu a, #userSettingMenu a {
    width: 80px;
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 24px;
    border-bottom: 1px solid #f1f1f1;

}

#selectStyleMenu a, #userSettingMenu a {
    width: 150px;
    padding: 3px 6px;
}

#selectStyleMenu img {
    width: 150px;
    height: 28px;
}

#selectStyleMenu {
}

#selectStyleMenu ul {
    width: 500px;
}

#selectStyleMenu li {
    float: left;
}

#addRssEntityMenu {
    padding: 5px 10px;
}

#addClippingEntityMenu {
    padding: 5px 10px;
}

#portletMenu a:hover, #selectStyleMenu a:hover, #addContentMenu a:hover, #sideMenuToolMenu a:hover, #userSettingMenu a:hover {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

#portletMenu .view {
    background: url(img/menu.png) no-repeat 3px -349px;
}

#portletMenu .config {
    background: url(img/menu.png) no-repeat 3px -221px;
}

#portletMenu .edit {
    background: url(img/menu.png) no-repeat 3px -125px;
}

#portletMenu .authset {
    background: url(img/menu.png) no-repeat 3px -189px;
}

#portletMenu .share {
    background: url(img/menu.png) no-repeat 3px -158px;
}

#portletMenu .help {
    background: url(img/menu.png) no-repeat 3px -158px;
}

#portletMenu .borderStyle {
    background: url(img/menu.png) no-repeat 3px -283px;
}

.portlet-table {
    width: 100%;
    border: #86BDDA solid 1px;
    border-spacing: 1px;
}

.portlet-table-even {
    background: #fff;
}

.portlet-table-odd {
    background: #eef4fb;
}

.portlet-table-over {
    background: #D8EBF9;
}

.portlet-table-down {
    background: #D8EBF9;
}

.portlet-table td {
    word-break: break-all;
    padding: 3px 0 3px 8px;
    height: 22px;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
    color: #016087;
}

.portlet-table th {
    height: 26px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    background: url("img/table_th_bg.gif") repeat-x left;
    color: #12458C;
    white-space: nowrap;
    background-color: #1079AD;
}

.portlet-table .sorted {
    background-color: #D3E6F8;
}

.portlet-table .sorted a, .portlet-table .sortable a {
    background-position: right center;
    display: block;
    width: 96%;
    color: #12458C;
}

.portlet-table .sortable a {
    background-repeat: no-repeat;
    background-image: url("img/arrow_off.png");
}

.portlet-table .order1 a {
    background-repeat: no-repeat;
    background-image: url("img/arrow_down.png");
}

.portlet-table .order2 a {
    background-repeat: no-repeat;
    background-image: url("img/arrow_up.png");
}

.portlet-name {
    font-size: 14px;
    font-weight: bold;
    color: #0E4D8B;
}

.portlet-title {
    margin: 10px 0 10px 10px;
}

.portlet-form-table th {
    color: #016E95;
    padding: 5px 0;
    text-align: left;
    white-space: nowrap;
}

.portlet-form-table td {
    padding: 5px;
}

.portlet-form-table {
    float: left;
    margin-left: 40px;
}

.portlet-form-table caption {
    text-align: left;
}

.portlet-form-table td input {

    padding-left: 3px;
    text-align: left;
}

.naviHover {
    color: #fff !important;
    background: #36c !important;
}

#pageLayoutSelect {
    list-style: none;
}

#pageLayoutSelect li {
    float: left;
    margin: 10px;
}

.portlet-page {
    padding: 4px;
    border: 3px solid #fff;
    cursor: pointer;
    filter: alpha(opacity = 40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}

.portlet-page-on {
    padding: 4px;
    border: 3px solid #fff;
    cursor: pointer;
    filter: alpha(opacity = 90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.portlet-box {
    border: 1px solid #B0C8E4;
    margin: 5px 3px 10px;
    text-align: left;
}

.portlet-box-title {
    background: #DBEEFF;
    color: #6D6D6D;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    padding: 0 5px 0 8px;
    text-align: left;
}

.portlet-page-current {
    border: 3px #36C solid;
    padding: 4px;
}

.pTypes-node {
    height: 18px;
    background: #eee url(img/cmp-bg.gif) repeat-x;
    margin-top: 1px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    padding: 2px 0;
}

.pTypes-node .x-tree-node-icon {
    display: none;
}

.pType {
    background: #fff;
    border: 1px solid #fff;
    margin: 3px;
}

.pType .x-tree-ec-icon {
    display: none;
}

.pType-icon {
    background-image: url(img/app.png) !important;
}

.pItem {
    border: 1px solid #fff;
    border-bottom: 1px solid #ededed;
    padding: 6px 0;
    margin-left: 6px;
    width: 96%;
}

.pItem dl {
    padding: 5px;
}

.pItem dd {
    padding: 1px 0 0 15px;
}

.pInfo th {
    padding-top: 3px;
    text-align: left;
    color: #999;
}

.pInfo td {
    padding: 1px 4px;
}

.portlet-icon {
    background: #fff;
    border: 1px solid #eee;
    width: 120px;
    height: 60px;
    padding: 2px;
    margin: 2px;
}

.warningMsg {
    text-align: left;
    margin: 0 10px;
    padding: 3px 9px 3px 23px;
    background: #ff9 url(img/ok.gif) no-repeat 4px 3px;
    line-height: 30px;
}

.errMsg {
    text-align: left;
    padding: 4px 25px;
    background: #ff9 url(img/sError.gif) no-repeat 4px 3px;
    line-height: 30px;
}

.pagination-info {
    padding: 5px;
    line-height: 130%;
}

.pagination-info span {
    display: block;
    float: left;
    padding: 2px 6px;
}

.pagination-info a, .pagination-info div, .pagination-info span, .pagination-info li {
    display: block;
    float: left;
    border: 1px solid #DFE2E7;
    padding: 2px 6px;
    margin: 0 2px;
    cursor: pointer
}

.pagination-info div, .pgCurrent {
    font-weight: bold;
    color: #000;
    background: #eee;
}

.pagination-info a:hover {
    background: #eee;
    color: #00c;
}

.explanation-msg {
    color: #aaa;
    margin: 5px;
}

.portlet-top-btn, .portlet-top-btn:hover {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background: url(img/icon_arrow.gif) no-repeat 0 50%;
    padding-left: 11px;
}

.main-table {
    border-collapse: collapse;
}

.main-table caption {
    text-align: left;
    padding: 10px;
}

.main-table th {
    color: #0e4d8b;
    font-weight: normal;
    border: 1px #98b1c8 solid;
    text-align: right;
    padding: 5px 15px 5px 10px;
    white-space: nowrap;
    vertical-align: top;
}

.main-table-title caption {
    text-align: left;
    padding: 10px;
}

.main-table-title {
    text-align: left;
    border: 1px #98b1c8 solid;
    background: #f2f6fb;
    padding: 4px 0 4px 10px;
    color: #0e4d8b;
}

.main-table td {
    border: 1px #98b1c8 solid;
    vertical-align: middle;
    color: #848484;
    text-align: left;
    padding: 5px 10px;
}

.main-table ul {
    list-style: square inside;
}

.main-table li {
    margin: 0 10px;
    padding: 2px;
}

.search-form {
    padding: 20px;
}

.search-form input {
    padding: 1px;
}

.search-content {
    width: 70%;
    padding: 20px;
}

.search-result {
    margin: 20px 0;
}

.search-top {
    background: #eee;
    padding: 4px;
}

.result-title a {
    font-size: 16px;
    text-decoration: underline;
}

.result-info {
    color: #aaa;
    padding: 0 10px;
    white-space: nowrap;
}

.result-content {
    line-height: 150%;
}

.result-site {
    color: #080;
}

.user-face {
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin: 3px;
    overflow: hidden;
}

.user-state-online {
    background: url(img/user.gif) no-repeat;
    padding-left: 18px;
}

.user-state-offline {
    background: url(img/user-offline.gif) no-repeat;
    padding-left: 18px;
}

.group-state {
    background: url(img/group.gif) no-repeat;
    padding-left: 18px;
}

.info-card {
    width: 200px;
}

.info-card span {
    color: #666;
}

.info-card ul {
    list-style: none;
}

.info-card li {
    padding: 2px;
}

.sign-info-title {
    color: #33A0A0;
    padding: 5px 0;
}

.sign-info {
    color: #666;
}

.result-star {
    background: url(img/star.gif) 0 6px repeat-x;
    margin-left: 8px;
}

.search-item {
    padding: 5px;

}

.search-item span {
    padding-left: 6px;
    color: #aaa;
}

.remind-box {
    position: absolute;
    width: 250px;
    z-index: 20000;
}

.remind-box-title {
    font-weight: bold;
    color: red;
    padding-bottom: 5px;
}

.remind-box-content {
    text-indent: 2em;
    padding: 3px;

}

.remind-box-bottom {
    text-align: right;
    color: #666;
}

#hideMenuButton {
    display: block;
    width: 16px;
    height: 16px;
    background: url(img/collapse.gif) no-repeat 50% 50%;
    padding: 1px;
    margin-left: 1px;
}

#hideMenuButton:hover {
    background-color: #fff;
    border: 1px solid #98C0F4;
    padding: 0;

}

#showMenuButton {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
    background: #fff url(img/expand.gif) no-repeat 50% 50%;
    border: 1px solid #98C0F4;
    margin-left: 2px;
}

#showMenuButton:hover {
    background-color: #98C0F4;
}

#hideSideMenuButton {
    display: block;
    width: 11px;
    height: 114px;
    background: url(img/sidemenu.gif) no-repeat scroll 0 50%;
    padding: 1px;
    float: left;
}

#hideSideMenuButton:hover {

}

#showSideMenuButton {
    float: left;
    width: 12px;
    height: 114px;
    background: url(img/sidemenu.gif) no-repeat scroll -10px 50%;

    margin-left: 2px;
}

#showSideMenuButton:hover {

}

#buttonToolTip {
    width: 160px;
    height: 150px;
    position: absolute;
    top: 82px;
    left: 18px;
    background: url(img/tipBg.gif) no-repeat;
    padding: 42px 20px 0 12px;
}

#buttonToolTip a {
    display: block;
    float: right;
    width: 15px;
    height: 15px;
    background: url(img/close.gif) no-repeat;
}

.icon-loading {
    width: 16px;
    height: 16px;
    background: url(img/loading.gif) no-repeat;
}

.pageFixed {
    padding-top: 1px;
    background: url(img/lock.gif) no-repeat -50px 0;
}

.pageFixed:hover {
    background: url(img/lock.gif) no-repeat -50px -48px;
}

.pageNotFixed {
    padding-top: 1px;
    background: url(img/lock.gif) no-repeat 0 0;
}

.pageNotFixed:hover {
    background: url(img/lock.gif) no-repeat 0 -48px;
}

.x-grid3-td-title .topic {
    padding-left: 20px;
    font-weight: bold;
}

.hasReadbackground {
    background: transparent url(img/hasRead.gif) no-repeat;
}

.notReadbackground {
    background: transparent url(img/notRead.gif) no-repeat;
}

.receiptbackground {
    background: transparent url(img/receipt.gif) no-repeat;
}

.x-grid3-td-title .x-grid3-cell-inner {
    white-space: normal;
}

.x-grid3-row-body p {
    margin: 5px 20px 10px 25px !important;
    color: #555;
}

.hasRead {
    font-weight: normal !important;
}

#main-tabs .x-tab-panel-body {
    background: transparent;
    border: 0 none;
}

.summary {
    background-image: url(img/details.gif) !important;
}

.preview-bottom {
    background-image: url(img/preview-bottom.gif) !important;
}

.preview-right {
    background-image: url(img/preview-right.gif) !important;
}

.preview-hide {
    background-image: url(img/preview-hide.gif) !important;
}

.addMsg-icon {
    background-image: url(img/addMsg.gif) !important;
}

.delete-icon {
    background-image: url(img/deleteMsg.gif) !important;
}

.revert-icon {
    background-image: url(img/revertMsg.gif) !important;
}

.open-icon {
    background-image: url(img/openMsg.gif) !important;
}

.refresh-icon {
    background-image: url(img/refresh.gif) !important;
}

.reply-msg {
    background-image: url(img/editMsg.gif) !important;
}

.preview .x-panel-body {
    background: #fff;
    color: #222;
    font: normal 12px tahoma, verdana, arial, sans-serif;
}

.preview .x-panel-body p {
    line-height: 18px;
    margin: 8px 0;
}

.preview .x-panel-body ul {
    margin-left: 18px;
}

.preview .x-panel-body ul li {
    display: list-item;
    list-style-image: none !important;
    list-style-position: outside !important;
    list-style-type: disc !important;
    margin-left: 18px;
}

.preview .x-panel-body pre, .preview .x-panel-body code {
    background: #f1f1f1;
    display: block;
}

.preview .x-panel-body div.post-title {
    font-weight: bold;
    color: #555;
    font-size: 11px;
}

.preview .x-panel-body div.post-author {
    font-weight: normal;
    color: #555;
    font-size: 11px;
    padding: 2px 10px;
}

.preview .x-panel-body span.post-date {
    font-weight: normal;
    color: #555;
    float: right;
    font-size: 11px;
}

.preview .x-panel-body div.post-data {
    background: #f1f2f4;
    padding: 5px;
    border-bottom: 1px solid #dadadb;
}

.preview .x-panel-body div.post-body {
    padding: 10px;
}

.reading-menu .x-menu-item-checked {
    border: 1px dotted #a3bae9 !important;
    background: #DFE8F6;
    padding: 0;
}

.errTitle {
    float: left;
    padding: 3px 10px;
    margin: 5px;
}

.errPre {
    clear: left;
    line-height: 120%;
    margin: 5px 10px;
    padding: 3px;
    color: #333;
    background: #fcfcfc;
    border: 1px solid #f1f1f1;
    word-break: break-all;
}

.entity-star {
    background: url(img/star.gif) 0 0 repeat-x;
}

.add-portlet {
    background: url(img/add-portlet.png) 0 0 no-repeat;
    margin: 200px auto auto;
    width: 188px;
    height: 53px;
    line-height: 53px;
    cursor: pointer;
    text-align: center;
}

.add-portlet span {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-left: 30px;
}

/*********topNav*****/
#header-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background:  url(../images/nav-sprite.jpg) repeat-x scroll 0 0 transparent;
    width: 100%;
    height: 34px;
}

#top-nav-wrapper {
    width: 980px;
    position: relative;
    float: left;
    overflow: hidden;
    top: -5px;
    left: -25px;
    height: 39px;
}

#topnav {
    height: 34px;
    padding: 0;
    display: block;
    margin-left: 14px;
    position: relative;
    width: 9999px;
}

#topnav li.first-level {
    cursor: pointer;
}

#topnav li.first-level, #topnav .top-nav-seperator {
    margin-top: 0;
    display: inline;
    float: left;
    list-style: none outside none;
    padding: 0;
}

#topnav li.first-level ul {
    display: inline;
    float: left;
}

#topnav li.first-level, #topnav a.first-level, #topnav .top-nav-seperator {
    display: block;
    height: 34px;
    line-height: 45px;
    font-size:13px;
    color:#fff;
    text-decoration: none;
}

#topnav a.first-level {
    padding-right: 15px;
    float: left;
}

.topnav-dd-outer a:hover {
    text-decoration: underline;
}

#topnav li.first-level span {
    display: block;
    padding-left: 15px;
    float: left;
    cursor: pointer;
}

#topnav li.hover {
    background: url(../../Content/images/nav-sprite.jpg) repeat-x scroll 0 -34px transparent !important;
}

#topnav li.hover a.first-level {
    color: #003366;
}

.top-nav-seperator {
    width: 3px;
    background: url("img/nav-sprite-right.jpg") no-repeat scroll right 0 transparent;
}

.topnav-dd-outer {
    background: url("img/bg-nav-left-edge-trans.png") no-repeat scroll left bottom transparent;
    display: none;
    padding-left: 9px;
    display: none;
}

.topnav-dd-inner {
    background: url("img/bg-nav-right-edge-trans.png") no-repeat scroll right bottom transparent;
    margin-bottom: -5px;
    overflow: hidden;
    padding: 15px 9px 29px 15px;
    _float: left;
}

.topnav-dd-inner a {
    font-weight: bold;
}

.topnav-dd-inner ul {
    padding-right: 15px;
    float: left;
}

.topnav-dd-inner ul.topnav-dd-inner-sub {
    float: none;
    padding-right: 0px;
}

.topnav-dd-inner-sub {
    margin: 0;
    padding: 0;
    float: none;
}

.topnav-dd-inner-sub ul {
    margin-right: 20px;
}

.topnav-dd-inner-sub li {
    padding-top: 5px;
    display: block;
}

.topnav-dd-inner-sub li a {
    font-weight: normal;
    /*fix ie6 bug*/
    _margin-bottom: -5px !important;
}

#topnav li.current {
    background: url("img/nav-sprite-current.jpg") repeat-x scroll 0 0px transparent;
}

#topnav #dropBtn {
    float: left;
    background: url("img/config.png") no-repeat center 12px transparent;
    cursor: pointer;
    width: 30px;
    height: 34px;
}

.nav-previous, .nav-next, .nav-previous-disable, .nav-next-disable {
    display: block;
    position: absolute;
    height: 34px;
    text-decoration: none;
    width: 24px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: left center;
}

.nav-previous, .nav-next {
    cursor: pointer;
}

.nav-previous {
    background-image: url("img/nav-left-active.jpg");
}

.nav-previous:hover {
    background-image: url("img/nav-left-hover.jpg");
}

.nav-previous-disable {
    background-image: url("img/nav-left-disable.jpg");
}

.nav-next {
    background-image: url("img/nav-right-active.jpg");
}

.nav-next:hover {
    background-image: url("img/nav-right-hover.jpg");
}

.nav-next-disable {
    background-image: url("img/nav-right-disable.jpg");
}

.nav-previous, .nav-previous-disable {
    left: 0px;
}

.nav-next, .nav-next-disable {
    right: 0px;
}

/***************board***********/
#board {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #323232;
    z-index: 500;
}

#board #siteMsg span {
    color: red;
}

#board li {
    float: left;
    margin-left: 15px;
    line-height: 24px;
}

#board a {
    display: block;
}

#board a, #board a:HOVER {
    color: #323232;
}

#board #operations {
    overflow: hidden;
}

#board a#setting {
    background: url("img/settings.gif") 0px 2px no-repeat;
    line-height: 24px;
    padding-left: 24px;
}

#board a#siteMsg {
    background: url("img/email.gif") no-repeat;
    line-height: 24px;
    padding-left: 26px;
}

#board a#quit {
    background: url("img/quit.gif") 0px 3px no-repeat;
    line-height: 24px;
    padding-left: 24px;
}

#board #welcomeMsg {
    margin-right: 20px;
}

#template {
    cursor: pointer;
}

#board #operations ul li {
    margin: 0px;
    float: none;
    margin-bottom: 5px;
    _margin-bottom: -5px;
}

.operation-dd-outer a {
    color: #003366 !important;
}

.operation-dd-outer {
    background: url("img/bg-nav-left-edge-trans.png") no-repeat scroll left bottom transparent;
    display: none;
    padding-left: 9px;
    position: absolute;
}

.operation-dd-inner {
    background: url("img/bg-nav-right-edge-trans.png") no-repeat scroll right bottom transparent;
    margin-bottom: -5px;
    padding: 15px 9px 29px 15px;
}

.operation-dd-inner ul {
    padding-right: 15px;
}

.operation-dd-inner ul li {
    padding: 4px 20px;
}

.operation-dd-inner .siteFolder {
    /*background: url("../images/sites.jpg") no-repeat scroll 0 3px transparent;*/
    color: #0F4F89;
    font-weight: bold;
}

.operation-dd-inner .line {
    padding: 0px;
    margin: 0px;
    border-width: 1px 0px;
    border-color: #CCCCCC #FFFFFF #EFEFFF;
    border-style: solid;
    margin: 5px 0px;
    line-height: 0px;
    height: 0px;
    /**fix ie6 bug**/
    _height: auto;
}

.operation-dd-outer .current {
    background: url("img/current-site.jpg") no-repeat 0 center;
}

.operation-dd-outer .current a {
    color: #69c !important;
}

.lazyLoadUrl {
    display: block;
}

.lazyLoadUrl, .portletContent .loading-indicator {
    background: url("img/loading-32.gif") no-repeat scroll left center transparent;
    font-size: 12px;
    line-height: 32px;
    margin: 3px;
    padding-left: 36px;
}

.portletContent .loading-indicator .lazyLoadUrl {
    background-image: none;
    margin: 0px;
    padding-left: 0px;
}