.highLight {
    border: 2px dotted red;
}

#clippingOverlay {
    position: absolute;
    z-index: 999;
    background-color: #333333;
    filter: alpha( Opacity = 40 );
    height: 0;
    width: 0;
    top: -100px;
    left: -100px;
}

.clipReset *{
    font-size:11px;
    font-style:normal;
    font-weight:normal;
}

.clipContent {
    margin: 5px 5px 0;
}

.clipContent td {
    background:none;
}

.clipRow {
    padding: 3px 0 0 15px;
    background: url( ../images/line.gif ) no-repeat 2px 5px;
}

.clipMore {
    margin-top: 2px;
    text-align: right;
}

.clipMore a {
   text-decoration: none;
}
.clipMore:hover{
    text-decoration: none;
}

.clipMore img{
    width:44px;
    height:16px;
    background: url( ../images/more.gif ) no-repeat 2px 2px;
}
.tabtitle {
    background: #f5f5f5;
    border-top: 5px solid #f5f5f5;
}

.tabtitle td {
    border-bottom: 1px solid #bbb;
    font-size: 14px;
    font-weight: bold;
}

.tabtitle td.selected {
    border: 1px solid #bbb;
    border-bottom: none;
    height: 27px;
    line-height: 27px;
    background: #fff;
}

.tabtitle td a {
    width: 100%;
    height: 27px;
    line-height: 27px;
}

/*
#toc{
font-family:'lucida grande',tahoma,arial,'bitstream vera sans',helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:1.5;
margin:10px 0 0 0;
padding:0;
padding-top:0;
height:24px;
position:relative;
background:transparent none repeat scroll 0 0;
border-bottom:1px solid #888888;
}

#toc ul{
height:21px;
border-bottom:1px solid #888888;
padding:15px 0 0 15px;
margin:0;
padding:0;
}

#toc li{
border:1px solid #888888;
display:inline;
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-right:5px;
margin-left:4px;
position:relative;
top:1px;
}

#toc li.current{
border-bottom:1px solid #FFFFFF;
}

#toc a {
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}

*/
/*#toc a:link, a:visited {
color:#FFFFFF;
text-decoration:none;
}*//*


#toc li a{
background:#999999 none repeat scroll 0 0;
border-top:1px solid #B5B5B5;
color:#FFFFFF;
float:left;
line-height:120%;
padding:2px 15px;
}

#toc li.current a{
background:#FFFFFF none repeat scroll 0 0;
border-top:1px solid #EEEEEE;
color:#333333;
padding:2px 15px;
}*/
