<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OVCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="connectionString" value="RGF0YSBTb3VyY2U9S0c7VXNlciBJZD1rZztQYXNzd29yZD1tYW5hZ2VyOw=="/>
    <add key="Title" value="吉林省民航机场集团公司视频会议系统(测试版)"/>
   
    <!--服务器IP -->
    <add key="ServerIP" value="192.168.223.101"/>
    <add key="ServerPort" value="4538"/>
    <add key="OmcsPort" value="4534"/>

    <!-- P2PDisabled , P2PChannelFirst-->
    <add key="ChannelMode" value="P2PDisabled"/>
    <add key="SpeakerIndex" value="0"/>
    <add key="MicrophoneIndex" value="0"/>
    <!--摄像头采集分辨率的大小 [160,120] [320,240] [640,480]-->
    <add key="CameraVideoSize" value="320,240"/> 

    <!--UserID的最大长度-->
    <add key="MaxLengthOfUserID" value="20"/>
  </appSettings>
  <applicationSettings>
    <OVCS.Properties.Settings>
      <setting name="OVCS_WebService1_WebService1" serializeAs="String">
        <value>http://localhost:10469/WebService1.asmx</value>
      </setting>
    </OVCS.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
